.textType1 {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter1 8s steps(100) 0.5s 1 normal both,
    cursorblink 0.5s infinite;
}

.textType2 {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter2 8s steps(100) 0.5s 1 normal both,
    cursorblink 0.5s infinite;
}

.textType3 {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter3 8s steps(180) 0.5s 1 normal both,
    cursorblink 0.5s infinite;
}

.textType4 {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter4 8s steps(100) 0.5s 1 normal both,
    cursorblink 0.5s infinite;
}

@keyframes typewriter1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
  from {
    width: 0;
  }

  to {
    width: 4.6em;
  }
}

@keyframes typewriter2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
  from {
    width: 0;
  }

  to {
    width: 1.9em;
  }
}

@keyframes typewriter3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
  from {
    width: 0;
  }

  to {
    width: 15.1em;
  }
}

@keyframes typewriter4 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
  from {
    width: 0;
  }

  to {
    width: 11.0em;
  }
}

@keyframes cursorblink {
  from {
    border-right: 1px solid #dedede;
  }

  to {
    border-right: 1px solid #666;
  }
}
