@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "footLight";
  src: url("./fonts/FootlightMTProLight.woff2") format("woff2")
    url("./fonts/FootlightMTProLight.ttf") format("truetype");
}

@font-face {
  font-family: "footLightRegular";
  src: url("./fonts/FootlightMTProRegular.woff2") format("woff2")
    url("./fonts/FootlightMTProRegular.ttf") format("truetype");
}

@font-face {
  font-family: "footLightBold";
  src: url("./fonts/FootlightMTProBold.woff2") format("woff2")
    url("./fonts/FootlightMTProBold.ttf") format("truetype");
}

@font-face {
  font-family: "footLightExtraBold";
  src: url("./fonts/FootlightMTProExtraBold.woff2") format("woff2")
    url("./fonts/FootlightMTProExtraBold.ttf") format("truetype");
}

@layer base {
  .headingText {
    font-family: "Mulish";
  }

  .homeText {
    font-family: "footLightRegular";
  }

  .homeTextBold {
    font-family: "footLightBold";
  }

  .menuBG {
    background-color: #e1dcd8;
    background-repeat: repeat-y !important;
  }

  .chapterBG {
    /* background-image: url("../chapterBG.png"); */
    background-repeat: no-repeat;
    background-size: cover;
  }
}
