@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "footLight";
  src: local("footLight") url("./fonts/FootlightMTProLight.otf")
    format("opentype");
}

@font-face {
  font-family: "footLightRegular";
  src: local("footLightRegular") url("./fonts/FootlightMTProRegular.otf")
    format("opentype");
}

@font-face {
  font-family: "footLightBold";
  src: local("footLightBold") url("./fonts/FootlightMTProBold.otf")
    format("opentype");
}

@font-face {
  font-family: "footLightExtraBold";
  src: local("footLightExtraBold") url("./fonts/FootlightMTProExtraBold.otf")
    format("opentype");
}

@layer base {

  .headingText {
    font-family: "Mulish";
  }

  .homeText {
    font-family: "footLightRegular";
  }

  .homeTextBold {
    font-family: "footLightBold";
  }

  .menuBG {
    background-color: #e1dcd8;
    background-repeat: repeat-y !important;
  }

  .chapterBG {
    background-image: url("../public/chapterBG.png");
    background-size: cover;
    background-repeat: repeat-y;
  }

}
